html *{
    margin:0;
    padding: 0;
}

body{
    background-color: #000000;
    font-size: 20px;
    color: white;
}

.nav{
    margin: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu{
    display: flex;
    justify-content: center;
}

.nav ul{ 
    display: flex;  
    gap:20px;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}

.nav ul li a:hover{
    color:#08CB00;
}

/*logo*/
.logo{
    font-size: 30px;
}

.logo-link{
    text-decoration: none;
    color: #08CB00;
    text-shadow: 0.5px 0.5px  white,
                -0.5px -0.5px  white,
                -0.5px 0.5px  white,
                 0.5px -0.5px  white;
    
}
.box{
    background-image:url("construction.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    padding:20px;
    flex-direction: column;
    justify-content: flex-end; 
    color:white;
    font-size: 30px;
}

.call{
    font-size: 20px;
    padding: 5px 10px 5px 10px; 
    border:2px solid white;
    border-radius: 12px;
    background-color: #000000;
    color: #08CB00;
    text-shadow: 0.5px 0.5px  white,
                -0.5px -0.5px  white,
                -0.5px 0.5px  white,
                 0.5px -0.5px  white;
    transition:0.2s; 
}

.call:hover{
    background-color: #08CB00;
    color:black;
}

.aj:hover{
    color: #08CB00;
    text-shadow: 0.5px 0.5px  white,
                -0.5px -0.5px  white,
                -0.5px 0.5px  white,
                 0.5px -0.5px  white;
}

