html *{
    margin:0;
    padding: 0;
}

body{
    background-color:transparent;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0px 40px 0px 40px;


}

.nav{
    background-color: blue;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid blue;
}

.menu{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.nav ul{ 
    display: flex; 
    justify-content: space-around; 
    gap:30px;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    font-weight: bold;
    text-decoration: none;
    color:#ffffff;
    cursor: pointer;
}

.nav ul li a:hover{
    color:blue;
}

/*logo*/
.logo{
    font-size: 40px;
    font-weight: bold;
    
}

.logo-link{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: white;
    
}
.box{
    background-image:url("construction.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60% ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:20px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color:white;
    font-size: 30px;
}

.call{
    font-size: 18px;
    padding: 5px 10px 5px 10px; 
    border:2px solid white;
    border-radius: 12px;
    background-color: blue;
    color: white;
    cursor:pointer;
    transition:0.2s; 
}

.call a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}

.call:hover:active{
    background-color: blue;
    color:black;
}

.aj{
    font-size: 40pw;
    color: blue;
}
.aj:hover{
    color: blue;
    text-shadow: 0.5px 0.5px  white,
                -0.5px -0.5px  white,
                -0.5px 0.5px  white,
                 0.5px -0.5px  white;
}

.wel{
    text-align: center;
    font-size: 40px;
}

.vl{
    margin-top: 50px;
    color:rgb(255, 255, 255);
    border:2px solid white;
    border-radius: 15px;
    padding:10px;
    font-size: 18px;
    font-weight:bold;
    background-color: blue;
}

.vl:hover:active{
    border:none;
}

.s1{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:400px;
    align-items: center;
    background-color:transparent; 
    margin-top: 20px;
    padding:30px;
    gap:50px
}

.ss{
    color:black; 
    display: flex;
    flex-direction: column;
    background-color:transparent;
    align-items: center; 
    padding:35px;
    gap:40px;
}

.serv{
    display: flex;
    flex-direction: row; 
    gap:20px

}

.ss h1{
    color: blue;
    font-size: 2rem;
    text-align: center; 

}

.im1{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap:10px; 
    

    
}

.im1 p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.im1 h1{
    color:blue;
}

.im1 .btser{
    color:rgb(255, 255, 255);
    border:2px solid white;
    border-radius: 15px;
    padding:10px;
    font-size: 18px;
    font-weight:bold;
    background-color: blue;
}

.qual{
    width:120px;
    margin-top: 10px;
    color:rgb(255, 255, 255);
    border:2px solid white;
    border-radius: 15px;
    padding:10px;
    font-size: 18px;
    font-weight:bold;
    background-color: blue;
}

.im1 img{
    width:100%;
    height: 200px;
    border:2px solid blue;
    border-radius: 20px;
}

.boleft{
    width: 100%;
    height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   gap:20px;
}

.boleft h1{
    color:blue;
    font-size: 2rem;
}

.boright{ 
    width: 100%;
    height: 100%; *
}


.boleft p{
    color:rgb(0, 0, 0);
}

.boleft h1{
    color:blue;
    font-size: 2rem;
}

.boright img{
    border-radius: 20px;
    width: 100%;
    height: 100%; 

}

@media (min-width:601px) and (max-width:900px){
    .box{
        height: 350px;
    
    }
    .wel{
        font-size: 30px;
    }

    .nav{ 
        font-size: 15px;
    }

    .s1{
    font-size: 17px;
    color:black; 
    grid-template-rows:300px; 

    }

    .boleft h1{
        color:blue;
    }

    .serv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    

}