html *{
    margin:0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: white;

}

.nav{
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #08CB00;
}

.menu{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
}

.nav ul{ 
    display: flex;  
    gap:35px;
    align-items: center;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color:#08CB00;
    cursor: pointer;
}

.nav ul li a:hover{
    color:#08CB00;
}

/*logo*/
.logo{
    font-size: 40px;
    
}

.logo-link{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #08CB00;
    
}
.box{
    background-image:url("construction.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding:20px;
    gap:20px;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    color:white;
    font-size: 30px;
}

.call{
    font-size: 20px;
    padding: 5px 10px 5px 10px; 
    border:2px solid white;
    border-radius: 12px;
    background-color: #08CB00;
    color: #ffffff;

    transition:0.2s; 
}

.call a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}

.call:hover:active{
    background-color: #08CB00;
    color:black;
}

.aj{
    font-size: 40pw;
    color: #08CB00;
}
.aj:hover{
    color: #08CB00;
    text-shadow: 0.5px 0.5px  white,
                -0.5px -0.5px  white,
                -0.5px 0.5px  white,
                 0.5px -0.5px  white;
}

.wel{
    text-align: center;
    font-size: 40px;
}

.vl{
    color:rgb(255, 255, 255);
    border:2px solid white;
    border-radius: 15px;
    padding:10px;
    font-size: 20px;
    font-weight:bold;
    background-color: #08CB00;
}

.vl:hover:active{
    border:none;
}


